* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

/* Form */
form {
    background-color: #fff;
    border: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "title price"
        "link link"
        "description description"
        "button button";
    width: min(90%, 30rem);
    border-radius: .7rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.input__wrapper {
    position: relative
}

.input__wrapper_description {
    grid-area: description;
}

.input__wrapper_price {
    grid-area: price;
}

.input__wrapper_link {
    grid-area: link;
}

.input__wrapper_title {
    grid-area: title;
}


form input {
    width: 100%;
    color: #302424;
    padding: 1rem .6rem;
    line-height: 1.3;
    font-size: .8rem;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
    text-overflow: ellipsis;
}

.input__error {
    position: absolute;
    font-size: .5rem;
    bottom: 1px;
    z-index: 5;
    left: .6rem;
    color: rgb(228, 51, 89);
}

form input:focus {
    outline: 0;
    background: #f3e7e9;
}


form button {
    grid-area: button;
    width: 100%;
    border: 0;
    font-size: 1rem;
}

button:disabled {
    background-color: #c9bebe;
}

button,
input[type=submit] {
    text-transform: uppercase;
    padding: 8px 15px;
    border: none;
    background: #c3929a;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

button:not(:disabled):hover {
    background: #9b6a77;
}

/* Dish card*/
.dish {
    position: relative;
    box-sizing: border-box;
    background: white;
    border-radius: .7rem;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    padding: .7rem;
    gap: 1rem;
    width: min(95%, 30rem);
    margin: 0 auto;
}


.dish img {
    width: 16rem;
    height: 10rem;
    object-fit: cover;
    border-radius: .4rem;
}

.dish__info {
    display: flex;
    flex-direction: column;
    width: 14rem;
}

.dish__heading {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.dish__price {
    color: #716464;
    font-weight: 400;
    font-size: .7rem;
    font-style: italic;
}

.dish__controls {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.dish svg {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    color: #8c7979;
    transition: all .4s ease-in-out;
}

.dish svg:hover {
    color: #c3929a
}

.dish a {
    color: #fff;
    text-decoration: none;
}

.dish h2 {
    font-weight: 600;
    font-size: .9rem;
    color: #525252;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dish p {
    font-size: .7rem;
    margin: 0;
    padding: 0;
    margin: 1rem 0;
    overflow: hidden;
    hyphens: auto;
}


@media (max-width: 500px) {
    .dish {
        flex-direction: column;
    }

    .dish img {
        width: 100%;
        height: 12rem;
    }

    .dish__info {
        width: 100%
    }
}

/*Edit form*/
.edit-form {
    position: absolute;
    inset: 0;
    width: 100%;
}

.edit-form input {
    width: 100%;
}

/*Pagination*/
.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 1rem;
}

.pagination__numbers {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: .1rem
}

.pagination__square {
    border: 1px solid #8c7979;
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f3e7e9;
    border-radius: 50%;
    transition: all .3s ease-in-out
}

.pagination__square_active {
    background-color: #fff;
}

.pagination__square:hover {
    background-color: #fff;
}

.pagination__number {
    font-size: .8rem;
}

.pagination__buttons {
    display: flex;
    justify-content: center;
    gap: .4rem;
    margin-top: .8rem;
}

.pagination__button {
    border-radius: .3rem;
    padding: .4rem .6rem;
    font-size: .6rem;
}