* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

/* Form */
form {
    margin-bottom: 2rem;
    border: none;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: min(90%, 520px);
    border-radius: .7rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

form input {
    color: #302424;
    width: 50%;
    padding: 10px;
    line-height: 1;
    font-size: .8rem;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
}

form input:focus {
    outline: 0;
    background: #f3e7e9;
}

form input:nth-of-type(3),
input:nth-of-type(4) {
    width: 100%;
}

form button {
    width: 100%;
    border: 0;
    font-size: 1rem;
}

button,
input[type=submit] {
    text-transform: uppercase;
    padding: 8px 15px;
    border: none;
    background: #c3929a;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

button:hover {
    background: #9b6a77;
}

/* Dish card*/
.dish {
    background: white;
    border-radius: .7rem;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    padding: .7rem;
    gap: 1rem;
    max-width: min(90%, 520px);
    margin: 0 auto;
}


.dish img {
    width: 16rem;
    height: 10rem;
    object-fit: cover;
    border-radius: .4rem;
}

.dish__info {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.dish__heading {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.dish span {
    color: #716464;
    font-weight: 400;
    font-size: .7rem;
    font-style: italic;
}

.dish__controls {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.dish svg {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    color: #8c7979;
    transition: all .4s ease-in-out;
}

.dish svg:hover {
    color: #c3929a
}

.dish a {
    color: #fff;
    text-decoration: none;
}

.dish h2 {
    font-weight: 600;
    font-size: .9rem;
    color: #525252;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dish p {
    font-size: .7rem;
    margin: 0;
    padding: 0;
    margin: 1rem 0;
    overflow: hidden;
    hyphens: auto;
}


@media (max-width: 500px) {
    .dish {
        flex-direction: column;
    }

    .dish img {
        width: 100%;
        height: 12rem;
    }

    .dish__info {
        width: 100%
    }
}

/*Edit form*/
.edit-form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.edit-form input {
    width: 100%;
}

/* Pagination */
.pagination {
    text-align: center;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    align-items: stretch;
    justify-content: center;
    align-content: center;
    margin: 52px 0 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.pagination>* {
    margin: 0;
    padding: 15px 20px;
    border-right: 1px solid #e1e1e1;
}

.pagination :first-child {
    cursor: pointer;
}

.pagination :last-child {
    cursor: pointer;
    border-right: 0;
}

.pagination .disabled {
    pointer-events: none;
    color: #f2f2f2;
}

/* Dish page */
.pizza-page img {
    width: 420px;
    height: 100%;
    object-fit: contain;
}

.pizza-page h2 {
    font-size: 52px;
    margin-top: -3rem;
}

.pizza-page p {
    font-size: 22px;
    line-height: 2;
    text-align: center;
}

.pizza-page span {
    font-size: 42px;
    transform: rotate(4deg);
}